# Python
__pycache__/
*.pyc

# Env
.env

# Uploads
backend/uploads/

# Virtual env
.venv/

# macOS
.DS_Store

__pycache__/
*.pyc
.DS_Store
*.xcuserstate
xcuserdata/
**/*.xcuserstate
**/__pycache__/
backend/.env
backend/uploads/
